
/*BEGIN textv2_1695224652108*/
#builder-sections #textv2_1695224652108 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224652108 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224652108 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224652108 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224652108 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224652108 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224652108 .omw-sentence {padding:0px;}
/*END textv2_1695224652108*/
/*BEGIN title_1695224670062*/
#builder-sections #title_1695224670062 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224670062 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224670062 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224670062 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224670062 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224670062 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1695224670062*/
/*BEGIN w_1695224688478*/
#builder-sections [idd='w_1695224688478'] {background-color:var(--cor6) !important; }
/*END w_1695224688478*/
/*BEGIN w_1695224679675*/
#builder-sections [idd='w_1695224679675'] {background-color:var(--cor6) !important; }
/*END w_1695224679675*/
/*BEGIN title_1695224628095*/
#builder-sections #title_1695224628095 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224628095 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224628095 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224628095 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224628095 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1695224628095 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1695224628095*/
/*BEGIN w_1695224892625*/
#builder-sections [idd='w_1695224892625'] {background-color:var(--cor6) !important; }
/*END w_1695224892625*/
/*BEGIN w_1695224935810*/
#builder-sections [idd='w_1695224935810'] {background-color:var(--cor6) !important; }
/*END w_1695224935810*/
/*BEGIN w_1696263594225_37859301540*/
#builder-sections [idd='w_1696263594225_37859301540'] {background-color:var(--cor6) !important; }
/*END w_1696263594225_37859301540*/
/*BEGIN textv2_1695224918782*/
#builder-sections #textv2_1695224918782 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224918782 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224918782 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224918782 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224918782 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224918782 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224918782 .omw-sentence {padding:0px;}
/*END textv2_1695224918782*/
/*BEGIN textv2_1695224728315*/
#builder-sections #textv2_1695224728315 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224728315 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224728315 .omw-sentence {border-left:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224728315 .omw-sentence {border-right:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224728315 .omw-sentence {border-top:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224728315 .omw-sentence {border-bottom:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1695224728315 .omw-sentence {padding:0px;}
/*END textv2_1695224728315*/
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN textv2_1721419457174_40486870463*/
#builder-sections #textv2_1721419457174_40486870463 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419457174_40486870463 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419457174_40486870463 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419457174_40486870463 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419457174_40486870463 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419457174_40486870463 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419457174_40486870463 .omw-sentence {padding:0px;}
/*END textv2_1721419457174_40486870463*/
/*BEGIN w_1721419457170_42258626193*/
#builder-sections [idd='w_1721419457170_42258626193'] {background-color:var(--cor6) !important; }
/*END w_1721419457170_42258626193*/
/*BEGIN w_1695224779304*/
#builder-sections [idd='w_1695224779304'] {background-color:var(--cor6) !important; }
/*END w_1695224779304*/
/*BEGIN textv2_1721419635073_69706224575*/
#builder-sections #textv2_1721419635073_69706224575 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419635073_69706224575 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419635073_69706224575 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419635073_69706224575 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419635073_69706224575 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419635073_69706224575 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1721419635073_69706224575 .omw-sentence {padding:0px;}
/*END textv2_1721419635073_69706224575*/
/*BEGIN textv2_1724254050214_4013541709*/
#builder-sections #textv2_1724254050214_4013541709 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1724254050214_4013541709 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1724254050214_4013541709 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1724254050214_4013541709 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1724254050214_4013541709 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1724254050214_4013541709 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1724254050214_4013541709 .omw-sentence {padding:0px;}
/*END textv2_1724254050214_4013541709*/
/*BEGIN w_1703268955414*/
#builder-sections [idd='w_1703268955414'] {background-color:var(--cor6) !important; }
/*END w_1703268955414*/
/*BEGIN w_1695224529146*/
#builder-sections [idd='w_1695224529146'] {background-color:var(--cor5) !important; }
/*END w_1695224529146*/
/*BEGIN textv2_1696266189028_75696556213*/
#builder-sections #textv2_1696266189028_75696556213 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696266189028_75696556213 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696266189028_75696556213 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696266189028_75696556213 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696266189028_75696556213 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696266189028_75696556213 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696266189028_75696556213 .omw-sentence {padding:0px;}
/*END textv2_1696266189028_75696556213*/
/*BEGIN w_1696266189023_87958923967*/
#builder-sections [idd='w_1696266189023_87958923967'] {background-color:var(--cor6) !important; }
/*END w_1696266189023_87958923967*/

/*BEGIN textv2_1696263594229_55316009628*/
#builder-sections #textv2_1696263594229_55316009628 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696263594229_55316009628 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696263594229_55316009628 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696263594229_55316009628 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696263594229_55316009628 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696263594229_55316009628 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1696263594229_55316009628 .omw-sentence {padding:0px;}

/*END textv2_1696263594229_55316009628*/
