
/*BEGIN text_1530028700813*/
#builder-sections #text_1530028700813 {background-color:var(--cor1) !important; border-color:var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-color:var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-left:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-right:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-top:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-bottom:0px solid var(--cor1) !important;}
/*END text_1530028700813*/
/*BEGIN text_1677605335780*/
#builder-sections #text_1677605335780 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1677605335780*/
/*BEGIN w_1708268712562_65168177321*//*END w_1708268712562_65168177321*/
/*BEGIN w_1708268712573_44534553673*//*END w_1708268712573_44534553673*/
/*BEGIN imagev2_1708268712580_84657913934*/
#builder-sections #imagev2_1708268712580_84657913934 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END imagev2_1708268712580_84657913934*/
/*BEGIN imagev2_1708267543168_44273706473*/
#builder-sections #imagev2_1708267543168_44273706473 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END imagev2_1708267543168_44273706473*/
/*BEGIN logotipo_1708268878781_30774653839*/
#builder-sections #logotipo_1708268878781_30774653839 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1708268878781_30774653839 img {border:none !important;}
/*END logotipo_1708268878781_30774653839*/
/*BEGIN logotipo_1708268979487_23925312144*/
#builder-sections #logotipo_1708268979487_23925312144 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1708268979487_23925312144 img {border:none !important;}
/*END logotipo_1708268979487_23925312144*/

/*BEGIN text_1677605450509*/
#builder-sections #text_1677605450509 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}

/*END text_1677605450509*/
