
/*BEGIN undefined*/
#builder-sections [idd='undefined'] {background-color:var(--cor6) !important; }
/*END undefined*/
/*BEGIN text_1530028700813*/
#builder-sections #text_1530028700813 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1530028700813*/
/*BEGIN w_1638818081586*/
#builder-sections [idd='w_1638818081586'] {background-color:var(--cor6) !important; }
/*END w_1638818081586*/
/*BEGIN image_1638816326159*/
#builder-sections #image_1638816326159 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1638816326159*/
/*BEGIN w_1678288482112*/
#builder-sections [idd='w_1678288482112'] {background-color:var(--cor6) !important; }
/*END w_1678288482112*/
/*BEGIN w_1628782561513*/
#builder-sections [idd='w_1628782561513'] {background-color:var(--cor1) !important; }
/*END w_1628782561513*/
/*BEGIN text_1638816381319*/
#builder-sections #text_1638816381319 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1638816381319*/
/*BEGIN w_1638816321074*/
#builder-sections [idd='w_1638816321074'] {background-color:var(--cor5) !important; }
/*END w_1638816321074*/
/*BEGIN w_1679072746850*/
#builder-sections [idd='w_1679072746850'] {background-color:var(--cor5) !important; }
/*END w_1679072746850*/
/*BEGIN features_1530011258797*/
#builder-sections #features_1530011258797 a.feature-link i {color:transparent !important; background-color:transparent !important; border-color:var(--cor6) !important; text-shadow:0px 0px 0px transparent !important;}
#builder-sections #features_1530011258797 div.omw-sentence{padding-right:0px !important;}#builder-sections #features_1530011258797 div.omw-sentence{padding-left:0px !important;}#builder-sections #features_1530011258797 div.feature-icon{padding-bottom:15px !important;}#builder-sections #features_1530011258797 {height:auto !important;}#builder-sections #features_1530011258797 .feature-icon{z-index:0 !important;}@media only screen and (max-width: 600px) {#builder-sections #features_1530011258797 div.omw-sentence {padding: 0 !important;}}
/*END features_1530011258797*/
/*BEGIN features_1530011258795*/
#builder-sections #features_1530011258795 a.feature-link i {color:transparent !important; background-color:transparent !important; border-color:var(--cor6) !important; text-shadow:0px 0px 0px transparent !important;}
#builder-sections #features_1530011258795 div.omw-sentence{padding-right:0px !important;}#builder-sections #features_1530011258795 div.omw-sentence{padding-left:0px !important;}#builder-sections #features_1530011258795 div.feature-icon{padding-bottom:15px !important;}#builder-sections #features_1530011258795 {height:auto !important;}#builder-sections #features_1530011258795 .feature-icon{z-index:0 !important;}@media only screen and (max-width: 600px) {#builder-sections #features_1530011258795 div.omw-sentence {padding: 0 !important;}}
/*END features_1530011258795*/
/*BEGIN w_1679074529570*/
#builder-sections [idd='w_1679074529570'] {background-color:var(--cor5) !important; }
/*END w_1679074529570*/

/*BEGIN features_1530011258796*/
#builder-sections #features_1530011258796 a.feature-link i {color:transparent !important; background-color:transparent !important; border-color:var(--cor6) !important; text-shadow:0px 0px 0px transparent !important;}
#builder-sections #features_1530011258796 div.omw-sentence{padding-right:0px !important;}#builder-sections #features_1530011258796 div.omw-sentence{padding-left:0px !important;}#builder-sections #features_1530011258796 div.feature-icon{padding-bottom:15px !important;}#builder-sections #features_1530011258796 {height:auto !important;}#builder-sections #features_1530011258796 .feature-icon{z-index:0 !important;}@media only screen and (max-width: 600px) {#builder-sections #features_1530011258796 div.omw-sentence {padding: 0 !important;}}
/*END features_1530011258796*/
