
/*BEGIN image_1690804057503*/
#builder-sections #image_1690804057503 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1690804057503*/
/*BEGIN logotipo_1690804181908*/
#builder-sections #logotipo_1690804181908 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1690804181908 img {border:none !important;}
/*END logotipo_1690804181908*/
/*BEGIN w_1690804194706*/
#builder-sections [idd='w_1690804194706'] {background-color:var(--cor6) !important; }
/*END w_1690804194706*/
/*BEGIN logotipo_1690804216256*/
#builder-sections #logotipo_1690804216256 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1690804216256 img {border:none !important;}
/*END logotipo_1690804216256*/
/*BEGIN text_1677605335780*/
#builder-sections #text_1677605335780 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1677605335780*/
/*BEGIN w_1690805026449*/
#builder-sections [idd='w_1690805026449'] {background-color:var(--cor5) !important; }
/*END w_1690805026449*/
/*BEGIN w_1690805075098*/
#builder-sections [idd='w_1690805075098'] {background-color:var(--cor6) !important; }
/*END w_1690805075098*/
/*BEGIN w_1690807460912*/
#builder-sections [idd='w_1690807460912'] {background-color:rgba(0, 0, 0, 0) !important; }
/*END w_1690807460912*/
/*BEGIN w_1690806727642*/
#builder-sections [idd='w_1690806727642'] {background-color:var(--cor6) !important; }
/*END w_1690806727642*/
/*BEGIN w_1690806590628*/
#builder-sections [idd='w_1690806590628'] {background-color:var(--cor5) !important; }
/*END w_1690806590628*/
/*BEGIN textv2_1690806667435*/
#builder-sections #textv2_1690806667435 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1690806667435 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1690806667435 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1690806667435 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1690806667435 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1690806667435 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1690806667435 .omw-sentence {padding:0px;}
/*END textv2_1690806667435*/
/*BEGIN w_1690807908938*/
#builder-sections [idd='w_1690807908938'] {background-color:var(--cor6) !important; }
/*END w_1690807908938*/
/*BEGIN image_1690806906086*/
#builder-sections #image_1690806906086 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1690806906086*/
/*BEGIN w_1690805061913*/
#builder-sections [idd='w_1690805061913'] {background-color:var(--cor6) !important; }
/*END w_1690805061913*/
/*BEGIN w_1690805576208*/
#builder-sections [idd='w_1690805576208'] {background-color:var(--cor5) !important; }
/*END w_1690805576208*/
/*BEGIN w_1677605384935*/
#builder-sections [idd='w_1677605384935'] {background-color:var(--cor6) !important; }
/*END w_1677605384935*/
/*BEGIN text_1677605450509*/
#builder-sections #text_1677605450509 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1677605450509*/

/*BEGIN logotipo_1690804211042*/
#builder-sections #logotipo_1690804211042 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1690804211042 img {border:none !important;}

/*END logotipo_1690804211042*/
