
/*BEGIN text_1628782856380*/
#builder-sections #text_1628782856380 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856380 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856380 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856380 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856380 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856380 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1628782856380*//*BEGIN paymentsv2_1628782637048*/
#builder-sections #paymentsv2_1628782637048 .omw-payments div {color:var(--cor5) !important; background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important; text-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #paymentsv2_1628782637048 .omw-payments div.coresMaster svg path {fill: var(--cor5) !important;}
#builder-sections #paymentsv2_1628782637048 .omw-payments div {border-left: 1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #paymentsv2_1628782637048 .omw-payments div {border-right: 1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #paymentsv2_1628782637048 .omw-payments div {border-top: 1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #paymentsv2_1628782637048 .omw-payments div {border-bottom: 1px solid rgba(0, 0, 0, 0) !important;}
/*END paymentsv2_1628782637048*/
/*BEGIN text_1628782856381*/
#builder-sections #text_1628782856381 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856381 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856381 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856381 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856381 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1628782856381 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1628782856381*/
/*BEGIN socialnetworks_1628782637049*/
#builder-sections #socialnetworks_1628782637049 .omw-socialnetworks div {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #socialnetworks_1628782637049 .omw-socialnetworks div i {color:var(--cor5) !important; }
#builder-sections #socialnetworks_1628782637049 .omw-socialnetworks div svg path {fill:var(--cor5) !important; }
#builder-sections #socialnetworks_1628782637049 .omw-socialnetworks div {border-left:1px solid rgba(0, 0, 0, 0) !important; }
#builder-sections #socialnetworks_1628782637049 .omw-socialnetworks div {border-right:1px solid rgba(0, 0, 0, 0) !important; }
#builder-sections #socialnetworks_1628782637049 .omw-socialnetworks div {border-top:1px solid rgba(0, 0, 0, 0) !important; }
#builder-sections #socialnetworks_1628782637049 .omw-socialnetworks div {border-bottom:1px solid rgba(0, 0, 0, 0) !important; }
/*END socialnetworks_1628782637049*/
/*BEGIN newsletter_1628782732742*/
#builder-sections #newsletter_1628782732742 button {color:var(--cor5) !important; background-color:rgba(0, 0, 0, 0) !important; border-color:var(--cor5) !important; text-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #newsletter_1628782732742 button:hover {color:var(--cor1) !important; background-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #newsletter_1628782732742 input {color:var(--cor5) !important; background-color:rgba(0, 0, 0, 0) !important; border-color:var(--cor5) !important;}
#builder-sections #newsletter_1628782732742 input::placeholder{color:var(--cor5) !important; }
#builder-sections #newsletter_1628782732742 input:-ms-input-placeholder{color:var(--cor5) !important; }
#builder-sections #newsletter_1628782732742 input::-ms-input-placeholder {color:var(--cor5) !important; }
#builder-sections #newsletter_1628782732742 .errorClass {border-color:rgb(244, 81, 81) !important;}
#builder-sections #newsletter_1628782732742 input {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
#builder-sections #newsletter_1628782732742 button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END newsletter_1628782732742*/
/*BEGIN buttonv2_1698315991076_82172845131*/
#builder-sections #buttonv2_1698315991076_82172845131 button.btn-style-base-custom {color:var(--cor5) !important; background-color:var(--cor1) !important; border-color:var(--cor6) !important;}
#builder-sections #buttonv2_1698315991076_82172845131 button.btn-style-base-custom:hover {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor6) !important;}
/*END buttonv2_1698315991076_82172845131*/
/*BEGIN button_1628250904823*/
#builder-sections #button_1628250904823 .omw-custombutton button {color:var(--cor1) !important; background-color:var(--cor5) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1628250904823 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1628250904823 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor1) !important;}
#builder-sections #button_1628250904823 .omw-custombutton button {font-family:var(--fonte2_f) !important; font-weight:var(--fonte2_w) !important; font-style:var(--fonte2_s) !important;}
/*END button_1628250904823*/
/*BEGIN title_1531150790204*/
#builder-sections #title_1531150790204 {background-color:rgba(0, 0, 0, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #title_1531150790204 .omw-sentence{border-color:var(--cor6) !important;}
#builder-sections #title_1531150790204 .omw-sentence{border-left:0px solid var(--cor6) !important;}
#builder-sections #title_1531150790204 .omw-sentence{border-right:0px solid var(--cor6) !important;}
#builder-sections #title_1531150790204 .omw-sentence{border-top:0px solid var(--cor6) !important;}
#builder-sections #title_1531150790204 .omw-sentence{border-bottom:0px solid var(--cor6) !important;}
/*END title_1531150790204*/
/*BEGIN buttonv2_1698434997074_95309220958*/
#builder-sections #buttonv2_1698434997074_95309220958 button.btn-style-base-custom {color:var(--cor5) !important; background-color:var(--cor1) !important; border-color:var(--cor6) !important;}
#builder-sections #buttonv2_1698434997074_95309220958 button.btn-style-base-custom:hover {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor6) !important;}
/*END buttonv2_1698434997074_95309220958*/
/*BEGIN buttonv2_1698435043819_98471565951*/
#builder-sections #buttonv2_1698435043819_98471565951 button.btn-style-base-custom {color:var(--cor5) !important; background-color:var(--cor1) !important; border-color:var(--cor6) !important;}
#builder-sections #buttonv2_1698435043819_98471565951 button.btn-style-base-custom:hover {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor6) !important;}
/*END buttonv2_1698435043819_98471565951*/
/*BEGIN textv2_1698435024425_1053233101*/
#builder-sections #textv2_1698435024425_1053233101 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1698435024425_1053233101 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1698435024425_1053233101 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1698435024425_1053233101 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1698435024425_1053233101 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1698435024425_1053233101 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1698435024425_1053233101 .omw-sentence {padding:0px;}
/*END textv2_1698435024425_1053233101*/
/*BEGIN text_1530028700813*/
#builder-sections #text_1530028700813 {background-color:var(--cor1) !important; border-color:var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-color:var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-left:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-right:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-top:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-bottom:0px solid var(--cor1) !important;}
/*END text_1530028700813*/
/*BEGIN imagev2_1698836363899_39051580544*/
#builder-sections #imagev2_1698836363899_39051580544 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END imagev2_1698836363899_39051580544*/
/*BEGIN imagev2_1698487053885_22289597647*/
#builder-sections #imagev2_1698487053885_22289597647 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END imagev2_1698487053885_22289597647*/

/*BEGIN text_1677605450509*/
#builder-sections #text_1677605450509 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}

/*END text_1677605450509*/
