
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN w_1669309526519*/
#builder-sections [idd='w_1669309526519'] {background-color:var(--cor6) !important; }
/*END w_1669309526519*/
/*BEGIN textv2_1669309500398*/
#builder-sections #textv2_1669309500398 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1669309500398 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1669309500398 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1669309500398 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1669309500398 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1669309500398 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1669309500398 .omw-sentence {padding:0px;}
/*END textv2_1669309500398*/

/*BEGIN w_1671206673568*/
#builder-sections [idd='w_1671206673568'] {background-color:var(--cor5) !important; }

/*END w_1671206673568*/
