
/*BEGIN w_1666859352177*/
#builder-sections [idd='w_1666859352177'] {background-color:var(--cor6) !important; }
/*END w_1666859352177*/
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN w_1675328545394*/
#builder-sections [idd='w_1675328545394'] {background-color:var(--cor6) !important; }
/*END w_1675328545394*/
/*BEGIN textv2_1666859297205*/
#builder-sections #textv2_1666859297205 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1666859297205 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1666859297205 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1666859297205 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1666859297205 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1666859297205 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1666859297205 .omw-sentence {padding:0px;}
/*END textv2_1666859297205*/
/*BEGIN w_1666859286530*/
#builder-sections [idd='w_1666859286530'] {background-color:var(--cor5) !important; }
/*END w_1666859286530*/
/*BEGIN w_1628782724219*/
#builder-sections [idd='w_1628782724219'] {background-color:var(--cor6) !important; }
/*END w_1628782724219*/

/*BEGIN w_1628782561513*/
#builder-sections [idd='w_1628782561513'] {background-color:var(--cor1) !important; }
/*END w_1628782561513*/


