
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN w_1667236214900*/
#builder-sections [idd='w_1667236214900'] {background-color:var(--cor4) !important; }
/*END w_1667236214900*/
/*BEGIN w_1667236214909*/
#builder-sections [idd='w_1667236214909'] {background-color:var(--cor5) !important; }
/*END w_1667236214909*/
/*BEGIN text_1667236214936*/
#builder-sections #text_1667236214936 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236214936 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236214936 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236214936 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236214936 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236214936 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1667236214936*/
/*BEGIN w_1667236214920*/
#builder-sections [idd='w_1667236214920'] {background-color:var(--cor6) !important; }
/*END w_1667236214920*/
/*BEGIN button_1667236214949*/
#builder-sections #button_1667236214949 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1667236214949 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1667236214949 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1667236214949 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1667236214949*/
/*BEGIN image_1667236214926*/
#builder-sections #image_1667236214926 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1667236214926*/
/*BEGIN w_1667236487026*/
#builder-sections [idd='w_1667236487026'] {background-color:var(--cor4) !important; }
/*END w_1667236487026*/
/*BEGIN w_1667236487031*/
#builder-sections [idd='w_1667236487031'] {background-color:var(--cor5) !important; }
/*END w_1667236487031*/
/*BEGIN w_1667236487038*//*END w_1667236487038*/
/*BEGIN text_1667236487063*/
#builder-sections #text_1667236487063 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1667236487063*/
/*BEGIN button_1667236487067*/
#builder-sections #button_1667236487067 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1667236487067 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1667236487067 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1667236487067 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1667236487067*/
/*BEGIN w_1667236487043*/
#builder-sections [idd='w_1667236487043'] {background-color:var(--cor6) !important; }
/*END w_1667236487043*/
/*BEGIN title_1667236214929*/
#builder-sections #title_1667236214929 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236214929 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236214929 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236214929 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236214929 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236214929 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1667236214929*/
/*BEGIN w_1675866325239*/
#builder-sections [idd='w_1675866325239'] {background-color:var(--cor4) !important; }
/*END w_1675866325239*/
/*BEGIN w_1675866325244*/
#builder-sections [idd='w_1675866325244'] {background-color:var(--cor5) !important; }
/*END w_1675866325244*/
/*BEGIN w_1675866325246*/
#builder-sections [idd='w_1675866325246'] {background-color:var(--cor6) !important; }
/*END w_1675866325246*/
/*BEGIN w_1680607124366*/
#builder-sections [idd='w_1680607124366'] {background-color:var(--cor5) !important; }
/*END w_1680607124366*/
/*BEGIN button_1680607124383*/
#builder-sections #button_1680607124383 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1680607124383 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1680607124383 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1680607124383 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1680607124383*/
/*BEGIN text_1680607124380*/
#builder-sections #text_1680607124380 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1680607124380 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1680607124380 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1680607124380 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1680607124380 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1680607124380 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1680607124380*/
/*BEGIN w_1680607124371*/
#builder-sections [idd='w_1680607124371'] {background-color:var(--cor6) !important; }
/*END w_1680607124371*/
/*BEGIN w_1682695672678*/
#builder-sections [idd='w_1682695672678'] {background-color:var(--cor5) !important; }
/*END w_1682695672678*/
/*BEGIN w_1682695672684*/
#builder-sections [idd='w_1682695672684'] {background-color:var(--cor6) !important; }
/*END w_1682695672684*/
/*BEGIN w_1682695678001*/
#builder-sections [idd='w_1682695678001'] {background-color:var(--cor5) !important; }
/*END w_1682695678001*/
/*BEGIN text_1682695678011*/
#builder-sections #text_1682695678011 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1682695678011 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1682695678011 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1682695678011 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1682695678011 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1682695678011 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1682695678011*/
/*BEGIN w_1638816692893*/
#builder-sections [idd='w_1638816692893'] {background-color:var(--cor5) !important; }
/*END w_1638816692893*/
/*BEGIN button_1689589391472*/
#builder-sections #button_1689589391472 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1689589391472 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1689589391472 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1689589391472 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1689589391472*/
/*BEGIN w_1689589391415*/
#builder-sections [idd='w_1689589391415'] {background-color:var(--cor5) !important; }
/*END w_1689589391415*/
/*BEGIN w_1682695678004*/
#builder-sections [idd='w_1682695678004'] {background-color:var(--cor6) !important; }
/*END w_1682695678004*/
/*BEGIN button_1682695678013*/
#builder-sections #button_1682695678013 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1682695678013 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1682695678013 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1682695678013 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1682695678013*/
/*BEGIN w_1638814732638*/
#builder-sections [idd='w_1638814732638'] {background-color:var(--cor6) !important; }
/*END w_1638814732638*/
/*BEGIN w_1689589391432*/
#builder-sections [idd='w_1689589391432'] {background-color:var(--cor6) !important; }
/*END w_1689589391432*/
/*BEGIN w_1638813633245*/
#builder-sections [idd='w_1638813633245'] {background-color:var(--cor4) !important; }
/*END w_1638813633245*/
/*BEGIN w_1699717030328_30859664621*/
#builder-sections [idd='w_1699717030328_30859664621'] {background-color:var(--cor5) !important; }
/*END w_1699717030328_30859664621*/
/*BEGIN w_1699717030339_83413418065*/
#builder-sections [idd='w_1699717030339_83413418065'] {background-color:var(--cor6) !important; }
/*END w_1699717030339_83413418065*/
/*BEGIN w_1699717038592_14498235078*/
#builder-sections [idd='w_1699717038592_14498235078'] {background-color:var(--cor5) !important; }
/*END w_1699717038592_14498235078*/
/*BEGIN w_1699717038598_33781887635*/
#builder-sections [idd='w_1699717038598_33781887635'] {background-color:var(--cor6) !important; }
/*END w_1699717038598_33781887635*/
/*BEGIN text_1699717038611_8062632745*/
#builder-sections #text_1699717038611_8062632745 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1699717038611_8062632745 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1699717038611_8062632745 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1699717038611_8062632745 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1699717038611_8062632745 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1699717038611_8062632745 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1699717038611_8062632745*/
/*BEGIN button_1699717038613_3536635622*/
#builder-sections #button_1699717038613_3536635622 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1699717038613_3536635622 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1699717038613_3536635622 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1699717038613_3536635622 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1699717038613_3536635622*/
/*BEGIN title_1699717038605_38327239688*/
#builder-sections #title_1699717038605_38327239688 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717038605_38327239688 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717038605_38327239688 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717038605_38327239688 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717038605_38327239688 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717038605_38327239688 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1699717038605_38327239688*/
/*BEGIN image_1699717038601_81806285774*/
#builder-sections #image_1699717038601_81806285774 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1699717038601_81806285774*/
/*BEGIN title_1682695678009*/
#builder-sections #title_1682695678009 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1682695678009 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1682695678009 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1682695678009 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1682695678009 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1682695678009 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1682695678009*/
/*BEGIN image_1682695678006*/
#builder-sections #image_1682695678006 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1682695678006*/
/*BEGIN title_1680607124377*/
#builder-sections #title_1680607124377 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1680607124377 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1680607124377 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1680607124377 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1680607124377 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1680607124377 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1680607124377*/
/*BEGIN image_1680607124374*/
#builder-sections #image_1680607124374 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1680607124374*/
/*BEGIN title_1667236487059*/
#builder-sections #title_1667236487059 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1667236487059*/
/*BEGIN image_1667236487051*/
#builder-sections #image_1667236487051 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1667236487051*/
/*BEGIN image_1714138058731_23663811507*/
#builder-sections #image_1714138058731_23663811507 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714138058731_23663811507*/
/*BEGIN title_1714138058738_49683127706*/
#builder-sections #title_1714138058738_49683127706 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138058738_49683127706 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138058738_49683127706 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138058738_49683127706 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138058738_49683127706 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138058738_49683127706 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138058738_49683127706*/
/*BEGIN text_1714138058740_58283100582*/
#builder-sections #text_1714138058740_58283100582 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138058740_58283100582 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138058740_58283100582 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138058740_58283100582 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138058740_58283100582 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138058740_58283100582 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1714138058740_58283100582*/
/*BEGIN button_1714138058742_33312234248*/
#builder-sections #button_1714138058742_33312234248 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714138058742_33312234248 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714138058742_33312234248 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714138058742_33312234248 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714138058742_33312234248*/
/*BEGIN image_1714138070498_93079672350*/
#builder-sections #image_1714138070498_93079672350 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714138070498_93079672350*/
/*BEGIN title_1714138070500_87090823823*/
#builder-sections #title_1714138070500_87090823823 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138070500_87090823823 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138070500_87090823823 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138070500_87090823823 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138070500_87090823823 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138070500_87090823823 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138070500_87090823823*/
/*BEGIN text_1714138070502_97689280890*/
#builder-sections #text_1714138070502_97689280890 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138070502_97689280890 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138070502_97689280890 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138070502_97689280890 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138070502_97689280890 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138070502_97689280890 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1714138070502_97689280890*/
/*BEGIN button_1714138070506_67414445078*/
#builder-sections #button_1714138070506_67414445078 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714138070506_67414445078 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714138070506_67414445078 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714138070506_67414445078 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714138070506_67414445078*/
/*BEGIN image_1714138119732_17372199647*/
#builder-sections #image_1714138119732_17372199647 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714138119732_17372199647*/
/*BEGIN title_1714138119734_59318497314*/
#builder-sections #title_1714138119734_59318497314 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138119734_59318497314 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138119734_59318497314 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138119734_59318497314 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138119734_59318497314 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138119734_59318497314 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138119734_59318497314*/
/*BEGIN text_1714138119739_45298907548*/
#builder-sections #text_1714138119739_45298907548 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138119739_45298907548 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138119739_45298907548 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138119739_45298907548 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138119739_45298907548 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138119739_45298907548 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1714138119739_45298907548*/
/*BEGIN button_1714138119740_20993206723*/
#builder-sections #button_1714138119740_20993206723 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714138119740_20993206723 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714138119740_20993206723 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714138119740_20993206723 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714138119740_20993206723*/
/*BEGIN image_1714138125040_22918832538*/
#builder-sections #image_1714138125040_22918832538 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714138125040_22918832538*/
/*BEGIN title_1714138125042_6808705281*/
#builder-sections #title_1714138125042_6808705281 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138125042_6808705281 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138125042_6808705281 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138125042_6808705281 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138125042_6808705281 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138125042_6808705281 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138125042_6808705281*/
/*BEGIN text_1714138125044_3298677676*/
#builder-sections #text_1714138125044_3298677676 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138125044_3298677676 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138125044_3298677676 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138125044_3298677676 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138125044_3298677676 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138125044_3298677676 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1714138125044_3298677676*/
/*BEGIN button_1714138125045_71876378409*/
#builder-sections #button_1714138125045_71876378409 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714138125045_71876378409 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714138125045_71876378409 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714138125045_71876378409 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714138125045_71876378409*/
/*BEGIN image_1714138128609_56293918617*/
#builder-sections #image_1714138128609_56293918617 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714138128609_56293918617*/
/*BEGIN title_1714138128611_42044975178*/
#builder-sections #title_1714138128611_42044975178 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138128611_42044975178 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138128611_42044975178 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138128611_42044975178 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138128611_42044975178 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138128611_42044975178 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138128611_42044975178*/
/*BEGIN text_1714138128615_81341030240*/
#builder-sections #text_1714138128615_81341030240 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138128615_81341030240 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138128615_81341030240 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138128615_81341030240 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138128615_81341030240 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138128615_81341030240 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1714138128615_81341030240*/
/*BEGIN button_1714138128617_69774175110*/
#builder-sections #button_1714138128617_69774175110 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714138128617_69774175110 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714138128617_69774175110 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714138128617_69774175110 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714138128617_69774175110*/
/*BEGIN w_1714138271137_57482880596*/
#builder-sections [idd='w_1714138271137_57482880596'] {background-color:var(--cor5) !important; }
/*END w_1714138271137_57482880596*/
/*BEGIN w_1714138271142_98480213703*/
#builder-sections [idd='w_1714138271142_98480213703'] {background-color:var(--cor6) !important; }
/*END w_1714138271142_98480213703*/
/*BEGIN text_1714138271152_6620785918*/
#builder-sections #text_1714138271152_6620785918 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138271152_6620785918 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138271152_6620785918 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138271152_6620785918 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138271152_6620785918 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138271152_6620785918 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1714138271152_6620785918*/
/*BEGIN button_1714138271154_28020452524*/
#builder-sections #button_1714138271154_28020452524 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714138271154_28020452524 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714138271154_28020452524 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714138271154_28020452524 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714138271154_28020452524*/
/*BEGIN text_1689589391464*/
#builder-sections #text_1689589391464 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1689589391464 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1689589391464 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1689589391464 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1689589391464 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1689589391464 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1689589391464*/
/*BEGIN title_1638816692905*/
#builder-sections #title_1638816692905 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1638816692905*/
/*BEGIN text_1638816692908*/
#builder-sections #text_1638816692908 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1638816692908*/
/*BEGIN button_1638816692911*/
#builder-sections #button_1638816692911 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1638816692911 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1638816692911 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1638816692911 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1638816692911*/
title_1714138596108_53616943150 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138596108_53616943150*/
/*BEGIN button_1714138765607_44782119126*/
#builder-sections #button_1714138765607_44782119126 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714138765607_44782119126 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714138765607_44782119126 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714138765607_44782119126 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714138765607_44782119126*/
/*BEGIN title_1714138795995_6867552494*/
#builder-sections #title_1714138795995_6867552494 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138795995_6867552494 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138795995_6867552494 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138795995_6867552494 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138795995_6867552494 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138795995_6867552494 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138795995_6867552494*/
/*BEGIN title_1714138484601_81589681890*/
#builder-sections #title_1714138484601_81589681890 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138484601_81589681890 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138484601_81589681890 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138484601_81589681890 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138484601_81589681890 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714138484601_81589681890 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714138484601_81589681890*/
/*BEGIN image_1638816692902*/
#builder-sections #image_1638816692902 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1638816692902*/
/*BEGIN image_1689589391442*/
#builder-sections #image_1689589391442 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1689589391442*/
/*BEGIN title_1689589391453*/
#builder-sections #title_1689589391453 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1689589391453 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1689589391453 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1689589391453 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1689589391453 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1689589391453 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1689589391453*/
/*BEGIN button_1714139205516_98714155309*/
#builder-sections #button_1714139205516_98714155309 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714139205516_98714155309 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714139205516_98714155309 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714139205516_98714155309 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714139205516_98714155309*/

/*BEGIN text_1714138679823_32489846689*/
#builder-sections #text_1714138679823_32489846689 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138679823_32489846689 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138679823_32489846689 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138679823_32489846689 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138679823_32489846689 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714138679823_32489846689 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}

/*END text_1714138679823_32489846689*/
