
/*BEGIN text_1677605335780*/
#builder-sections #text_1677605335780 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605335780 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1677605335780*/
/*BEGIN w_1601996731929*/
#builder-sections [idd='w_1601996731929'] {background-color:var(--cor1) !important; }
/*END w_1601996731929*/
/*BEGIN w_1664895730876*/
#builder-sections [idd='w_1664895730876'] {background-color:var(--cor6) !important; }
/*END w_1664895730876*/
/*BEGIN w_1678371159071*/
#builder-sections [idd='w_1678371159071'] {background-color:var(--cor5) !important; }
/*END w_1678371159071*/
/*BEGIN text_1677605450509*/
#builder-sections #text_1677605450509 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677605450509 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1677605450509*/
/*BEGIN button_1677605524796*/
#builder-sections #button_1677605524796 .omw-custombutton button {color:var(--cor3) !important; background-color:var(--cor4) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1677605524796 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1677605524796 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor1) !important;}
#builder-sections #button_1677605524796 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1677605524796*/
/*BEGIN w_1677605384935*/
#builder-sections [idd='w_1677605384935'] {background-color:var(--cor6) !important; }
/*END w_1677605384935*/
/*BEGIN image_1638816326159*/
#builder-sections #image_1638816326159 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1638816326159*/
/*BEGIN features_1530011258795*/
#builder-sections #features_1530011258795 a.feature-link i {color:transparent !important; background-color:transparent !important; border-color:var(--cor6) !important; text-shadow:0px 0px 0px transparent !important;}
#builder-sections #features_1530011258795 div.omw-sentence{padding-right:0px !important;}#builder-sections #features_1530011258795 div.omw-sentence{padding-left:0px !important;}#builder-sections #features_1530011258795 div.feature-icon{padding-bottom:15px !important;}#builder-sections #features_1530011258795 {height:auto !important;}#builder-sections #features_1530011258795 .feature-icon{z-index:0 !important;}@media only screen and (max-width: 600px) {#builder-sections #features_1530011258795 div.omw-sentence {padding: 0 !important;}}
/*END features_1530011258795*/
/*BEGIN features_1530011258797*/
#builder-sections #features_1530011258797 a.feature-link i {color:transparent !important; background-color:transparent !important; border-color:var(--cor6) !important; text-shadow:0px 0px 0px transparent !important;}
#builder-sections #features_1530011258797 div.omw-sentence{padding-right:0px !important;}#builder-sections #features_1530011258797 div.omw-sentence{padding-left:0px !important;}#builder-sections #features_1530011258797 div.feature-icon{padding-bottom:15px !important;}#builder-sections #features_1530011258797 {height:auto !important;}#builder-sections #features_1530011258797 .feature-icon{z-index:0 !important;}@media only screen and (max-width: 600px) {#builder-sections #features_1530011258797 div.omw-sentence {padding: 0 !important;}}
/*END features_1530011258797*/
/*BEGIN features_1530011258796*/
#builder-sections #features_1530011258796 a.feature-link i {color:transparent !important; background-color:transparent !important; border-color:var(--cor6) !important; text-shadow:0px 0px 0px transparent !important;}
#builder-sections #features_1530011258796 div.omw-sentence{padding-right:0px !important;}#builder-sections #features_1530011258796 div.omw-sentence{padding-left:0px !important;}#builder-sections #features_1530011258796 div.feature-icon{padding-bottom:15px !important;}#builder-sections #features_1530011258796 {height:auto !important;}#builder-sections #features_1530011258796 .feature-icon{z-index:0 !important;}@media only screen and (max-width: 600px) {#builder-sections #features_1530011258796 div.omw-sentence {padding: 0 !important;}}
/*END features_1530011258796*/
/*BEGIN w_1678970600924*/
#builder-sections [idd='w_1678970600924'] {background-color:var(--cor5) !important; }
/*END w_1678970600924*/
/*BEGIN w_1678288482112*/
#builder-sections [idd='w_1678288482112'] {background-color:var(--cor6) !important; }
/*END w_1678288482112*/
/*BEGIN w_1638816321074*/
#builder-sections [idd='w_1638816321074'] {background-color:var(--cor5) !important; }
/*END w_1638816321074*/
/*BEGIN w_1638818081586*/
#builder-sections [idd='w_1638818081586'] {background-color:var(--cor6) !important; }
/*END w_1638818081586*/
/*BEGIN text_1638816381319*/
#builder-sections #text_1638816381319 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816381319 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1638816381319*/

/*BEGIN text_1530028700813*/
#builder-sections #text_1530028700813 {background-color:var(--cor1) !important; border-color:var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-color:var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-left:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-right:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-top:0px solid var(--cor1) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-bottom:0px solid var(--cor1) !important;}

/*END text_1530028700813*/
