
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN text_1644571865476*/
#builder-sections #text_1644571865476 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571865476 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571865476 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571865476 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571865476 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571865476 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1644571865476*/
/*BEGIN undefined*/
#builder-sections [idd='undefined'] {background-color:var(--cor5) !important; }
/*END undefined*/
/*BEGIN w_1684315955606*/
#builder-sections [idd='w_1684315955606'] {background-color:var(--cor6) !important; }
/*END w_1684315955606*/
/*BEGIN w_1692810859061*//*END w_1692810859061*/
/*BEGIN w_1692810859065*/
#builder-sections [idd='w_1692810859065'] {background-color:var(--cor6) !important; }
/*END w_1692810859065*/
/*BEGIN w_1692810859070*/
#builder-sections [idd='w_1692810859070'] {background-color:var(--cor6) !important; }
/*END w_1692810859070*/
/*BEGIN title_1692810859076*/
#builder-sections #title_1692810859076 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1692810859076 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1692810859076 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1692810859076 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1692810859076 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1692810859076 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1692810859076*/
/*BEGIN w_1692810847029*/
#builder-sections [idd='w_1692810847029'] {background-color:var(--cor6) !important; }
/*END w_1692810847029*/
/*BEGIN title_1644571903222*/
#builder-sections #title_1644571903222 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1644571903222 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1644571903222 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1644571903222 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1644571903222 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1644571903222 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1644571903222*/
/*BEGIN w_1644571956567*/
#builder-sections [idd='w_1644571956567'] {background-color:var(--cor6) !important; }
/*END w_1644571956567*/
/*BEGIN w_1692810859046*/
#builder-sections [idd='w_1692810859046'] {background-color:var(--cor5) !important; }
/*END w_1692810859046*/
/*BEGIN w_1644571895391*/
#builder-sections [idd='w_1644571895391'] {background-color:var(--cor5) !important; }
/*END w_1644571895391*/
/*BEGIN w_1692810859052*/
#builder-sections [idd='w_1692810859052'] {background-color:var(--cor6) !important; }
/*END w_1692810859052*/
/*BEGIN w_1644572057093*/
#builder-sections [idd='w_1644572057093'] {background-color:var(--cor6) !important; }
/*END w_1644572057093*/
/*BEGIN text_1644571928215*/
#builder-sections #text_1644571928215 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571928215 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571928215 .omw-sentence {border-left:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571928215 .omw-sentence {border-right:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571928215 .omw-sentence {border-top:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1644571928215 .omw-sentence {border-bottom:1px solid rgba(0, 0, 0, 0) !important;}
/*END text_1644571928215*/
/*BEGIN w_1644572120605*/
#builder-sections [idd='w_1644572120605'] {background-color:var(--cor6) !important; }
/*END w_1644572120605*/

/*BEGIN text_1692810859078*/
#builder-sections #text_1692810859078 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1692810859078 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1692810859078 .omw-sentence {border-left:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1692810859078 .omw-sentence {border-right:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1692810859078 .omw-sentence {border-top:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1692810859078 .omw-sentence {border-bottom:1px solid rgba(0, 0, 0, 0) !important;}

/*END text_1692810859078*/
