
/*BEGIN w_1675866396910*/
#builder-sections [idd='w_1675866396910'] {background-color:var(--cor6) !important; }
/*END w_1675866396910*/
/*BEGIN w_1675946477521*/
#builder-sections [idd='w_1675946477521'] {background-color:var(--cor6) !important; }
/*END w_1675946477521*/
/*BEGIN w_1675946600598*/
#builder-sections [idd='w_1675946600598'] {background-color:var(--cor6) !important; }
/*END w_1675946600598*/
/*BEGIN w_1675946610735*/
#builder-sections [idd='w_1675946610735'] {background-color:var(--cor6) !important; }
/*END w_1675946610735*/
/*BEGIN image_1647037301157*/
#builder-sections #image_1647037301157 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1647037301157*/
/*BEGIN w_1647036869529*/
#builder-sections [idd='w_1647036869529'] {background-color:var(--cor5) !important; }
/*END w_1647036869529*/
/*BEGIN w_1676044797327*/
#builder-sections [idd='w_1676044797327'] {background-color:var(--cor5) !important; }
/*END w_1676044797327*/
/*BEGIN w_1676045087002*/
#builder-sections [idd='w_1676045087002'] {background-color:var(--cor6) !important; }
/*END w_1676045087002*/
/*BEGIN w_1676045078388*/
#builder-sections [idd='w_1676045078388'] {background-color:var(--cor6) !important; }
/*END w_1676045078388*/
/*BEGIN w_1676046350446*/
#builder-sections [idd='w_1676046350446'] {background-color:var(--cor5) !important; }
/*END w_1676046350446*/
/*BEGIN w_1676046350449*/
#builder-sections [idd='w_1676046350449'] {background-color:var(--cor6) !important; }
/*END w_1676046350449*/
/*BEGIN w_1676046350451*/
#builder-sections [idd='w_1676046350451'] {background-color:var(--cor6) !important; }
/*END w_1676046350451*/
/*BEGIN w_1676049848664*//*END w_1676049848664*/
/*BEGIN image_1676049848669*//*END image_1676049848669*/
/*BEGIN image_1676049848673*//*END image_1676049848673*/
/*BEGIN image_1676049848676*//*END image_1676049848676*/
/*BEGIN w_1675866393496*/
#builder-sections [idd='w_1675866393496'] {background-color:var(--cor6) !important; }
/*END w_1675866393496*/
/*BEGIN image_1647033201908*/
#builder-sections #image_1647033201908 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1647033201908*/
/*BEGIN image_1647033074058*/
#builder-sections #image_1647033074058 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1647033074058*/
/*BEGIN w_1677516867099*/
#builder-sections [idd='w_1677516867099'] {background-color:var(--cor6) !important; }
/*END w_1677516867099*/
/*BEGIN w_1647033660784*/
#builder-sections [idd='w_1647033660784'] {background-color:var(--cor6) !important; }
/*END w_1647033660784*/
/*BEGIN w_1676044783866*/
#builder-sections [idd='w_1676044783866'] {background-color:var(--cor5) !important; }
/*END w_1676044783866*/
/*BEGIN image_1676044805461*/
#builder-sections #image_1676044805461 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1676044805461*/
/*BEGIN w_1647022952189*/
#builder-sections [idd='w_1647022952189'] {background-color:var(--cor4) !important; }
/*END w_1647022952189*/
/*BEGIN w_1646932604447*/
#builder-sections [idd='w_1646932604447'] {background-color:var(--cor4) !important; }
/*END w_1646932604447*/
/*BEGIN text_1530028700813*/
#builder-sections #text_1530028700813 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1530028700813*/

/*BEGIN text_1646923557546*/
#builder-sections #text_1646923557546 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-left:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-right:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-top:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-bottom:1px solid rgba(0, 0, 0, 0) !important;}

/*END text_1646923557546*/
