
/*BEGIN logotipo_1713882330813_30426267180*/
#builder-sections #logotipo_1713882330813_30426267180 img {border-color:var(--cor6) !important; box-shadow:5px 0px 5px var(--cor6) !important;}
#builder-sections #logotipo_1713882330813_30426267180 img {border:none !important;}
/*END logotipo_1713882330813_30426267180*/
/*BEGIN logotipo_1713882427240_24062094544*/
#builder-sections #logotipo_1713882427240_24062094544 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1713882427240_24062094544 img {border:none !important;}
/*END logotipo_1713882427240_24062094544*/
/*BEGIN logotipo_1713882618210_99946481100*/
#builder-sections #logotipo_1713882618210_99946481100 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1713882618210_99946481100 img {border:none !important;}
/*END logotipo_1713882618210_99946481100*/
/*BEGIN image_1647033201908*/
#builder-sections #image_1647033201908 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1647033201908*/
/*BEGIN image_1647033039807*/
#builder-sections #image_1647033039807 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1647033039807*/
/*BEGIN textv2_1713883029096_97198000244*/
#builder-sections #textv2_1713883029096_97198000244 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883029096_97198000244 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883029096_97198000244 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883029096_97198000244 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883029096_97198000244 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883029096_97198000244 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883029096_97198000244 .omw-sentence {padding:0px;}
/*END textv2_1713883029096_97198000244*/
/*BEGIN textv2_1713883103957_80491457287*/
#builder-sections #textv2_1713883103957_80491457287 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883103957_80491457287 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883103957_80491457287 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883103957_80491457287 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883103957_80491457287 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883103957_80491457287 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1713883103957_80491457287 .omw-sentence {padding:0px;}
/*END textv2_1713883103957_80491457287*/
/*BEGIN title_1713883601323_72636526120*/
#builder-sections #title_1713883601323_72636526120 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1713883601323_72636526120 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1713883601323_72636526120 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1713883601323_72636526120 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1713883601323_72636526120 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1713883601323_72636526120 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1713883601323_72636526120*/
/*BEGIN textv2_1710520580624_36411072215*/
#builder-sections #textv2_1710520580624_36411072215 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580624_36411072215 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580624_36411072215 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580624_36411072215 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580624_36411072215 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580624_36411072215 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580624_36411072215 .omw-sentence {padding:0px;}
/*END textv2_1710520580624_36411072215*//*BEGIN textv2_1710520580625_28194208202*/
#builder-sections #textv2_1710520580625_28194208202 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580625_28194208202 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580625_28194208202 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580625_28194208202 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580625_28194208202 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580625_28194208202 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710520580625_28194208202 .omw-sentence {padding:0px;}
/*END textv2_1710520580625_28194208202*//*BEGIN textv2_1710521216568_64339806060*/
#builder-sections #textv2_1710521216568_64339806060 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710521216568_64339806060 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710521216568_64339806060 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710521216568_64339806060 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710521216568_64339806060 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710521216568_64339806060 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1710521216568_64339806060 .omw-sentence {padding:0px;}
/*END textv2_1710521216568_64339806060*//*BEGIN buttonv2_1710520580625_49447563398*/
#builder-sections #buttonv2_1710520580625_49447563398 button.btn-style-base-custom {color:var(--cor5) !important; background-color:var(--cor1) !important; border-color:transparent !important;}
#builder-sections #buttonv2_1710520580625_49447563398 button.btn-style-base-custom:hover {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:transparent !important;}
/*END buttonv2_1710520580625_49447563398*/
/*BEGIN logotipo_1713971213371_76006162642*/
#builder-sections #logotipo_1713971213371_76006162642 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1713971213371_76006162642 img {border:none !important;}
/*END logotipo_1713971213371_76006162642*/
/*BEGIN image_1713882786873_96863797649*/
#builder-sections #image_1713882786873_96863797649 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1713882786873_96863797649*/
/*BEGIN image_1647033074058*/
#builder-sections #image_1647033074058 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1647033074058*/
/*BEGIN logotipo_1713972242924_86950703825*/
#builder-sections #logotipo_1713972242924_86950703825 img {border-color:var(--cor6) !important; box-shadow:0px 5px 5px var(--cor6) !important;}
#builder-sections #logotipo_1713972242924_86950703825 img {border:none !important;}
/*END logotipo_1713972242924_86950703825*/
/*BEGIN text_1530028700813*/
#builder-sections #text_1530028700813 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1530028700813 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1530028700813*/
/*BEGIN image_1676044805461*/
#builder-sections #image_1676044805461 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px var(--cor6) !important;}
/*END image_1676044805461*/

/*BEGIN text_1646923557546*/
#builder-sections #text_1646923557546 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-left:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-right:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-top:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1646923557546 .omw-sentence {border-bottom:1px solid rgba(0, 0, 0, 0) !important;}

/*END text_1646923557546*/
