
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN w_1649839114911*/
#builder-sections [idd='w_1649839114911'] {background-color:var(--cor5) !important; }
/*END w_1649839114911*/
/*BEGIN w_1681811738215*/
#builder-sections [idd='w_1681811738215'] {background-color:var(--cor6) !important; }
/*END w_1681811738215*/

/*BEGIN text_1647107456334*/
#builder-sections #text_1647107456334 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1647107456334 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1647107456334 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1647107456334 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1647107456334 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1647107456334 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}

/*END text_1647107456334*/
