
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN textv2_1672066673782*/
#builder-sections #textv2_1672066673782 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066673782 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066673782 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066673782 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066673782 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066673782 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066673782 .omw-sentence {padding:0px;}
/*END textv2_1672066673782*/
/*BEGIN w_1672066699285*/
#builder-sections [idd='w_1672066699285'] {background-color:var(--cor5) !important; }
/*END w_1672066699285*/
/*BEGIN w_1672066700982*/
#builder-sections [idd='w_1672066700982'] {background-color:var(--cor6) !important; }
/*END w_1672066700982*/
/*BEGIN w_1672066835941*/
#builder-sections [idd='w_1672066835941'] {background-color:var(--cor6) !important; }
/*END w_1672066835941*/
/*BEGIN w_1672066987600*/
#builder-sections [idd='w_1672066987600'] {background-color:var(--cor6) !important; }
/*END w_1672066987600*/
/*BEGIN textv2_1672066728501*/
#builder-sections #textv2_1672066728501 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066728501 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066728501 .omw-sentence {border-left:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066728501 .omw-sentence {border-right:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066728501 .omw-sentence {border-top:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066728501 .omw-sentence {border-bottom:1px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #textv2_1672066728501 .omw-sentence {padding:0px;}
/*END textv2_1672066728501*/

/*BEGIN w_1672066879500*/
#builder-sections [idd='w_1672066879500'] {background-color:var(--cor5) !important; }

/*END w_1672066879500*/
