
				:root {
				--cor1: rgb(9, 12, 23);
				--cor2: rgb(16, 103, 47);
				--cor3: rgb(229, 28, 32);
				--cor4: rgb(239, 240, 241);
				--cor5: rgb(255, 255, 255);
				--cor6: transparent;
				--fonte1_base: //fonts.googleapis.com/css?family=Barlow:regular;
				--fonte2_base: //fonts.googleapis.com/css?family=Barlow:700;
				--fonte1_name: Barlow:regular;
				--fonte2_name: Barlow:700;
				--fonte1_f: Barlow;
				--fonte1_w: normal;
				--fonte1_s: normal;
				--fonte2_f: Barlow;
				--fonte2_w: 700;
				--fonte2_s: normal;
				--fonte3_f: ;
				--fonte3_w: normal;
				--fonte3_s: normal;
				} .btn-style-base{border-radius:0px} .btn-style-base-filled{background-color:var(--cor1); border-color:var(--cor1); color:var(--cor5);} .btn-style-base-filled:hover{background-color:var(--cor1); border-color:var(--cor1); color:var(--cor5);} .btn-style-base-outlined{background-color:transparent; border-color:var(--cor1); color:var(--cor1);} .btn-style-base-outlined:hover{background-color:var(--cor1); border-color:var(--cor1); color:var(--cor5);} .btn-style-base{font-family:Barlow; font-weight:700; font-style:normal} .switch-style-base:checked{background-color:var(--cor1) !important; border-color:var(--cor1) !important;} .switch-style-base:checked:focus{background-color:var(--cor1) !important; border-color:var(--cor1) !important;} .switch-style-base:not(:checked):focus{border-color:var(--n-200) !important;}