
/*BEGIN image_1638816692902*/
#builder-sections #image_1638816692902 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1638816692902*/
/*BEGIN w_1638814732638*/
#builder-sections [idd='w_1638814732638'] {background-color:var(--cor6) !important; }
/*END w_1638814732638*/
/*BEGIN w_1678969777650*/
#builder-sections [idd='w_1678969777650'] {background-color:var(--cor5) !important; }
/*END w_1678969777650*/
/*BEGIN image_1678969777659*/
#builder-sections #image_1678969777659 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1678969777659*/
/*BEGIN title_1678969777662*/
#builder-sections #title_1678969777662 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969777662 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969777662 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969777662 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969777662 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969777662 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1678969777662*/
/*BEGIN text_1678969777665*/
#builder-sections #text_1678969777665 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969777665 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969777665 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969777665 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969777665 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969777665 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1678969777665*/
/*BEGIN button_1678969777668*/
#builder-sections #button_1678969777668 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1678969777668 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1678969777668 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1678969777668 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1678969777668*/
/*BEGIN w_1678969793060*/
#builder-sections [idd='w_1678969793060'] {background-color:var(--cor6) !important; }
/*END w_1678969793060*/
/*BEGIN image_1678969793063*/
#builder-sections #image_1678969793063 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1678969793063*/
/*BEGIN w_1677515553061*/
#builder-sections [idd='w_1677515553061'] {background-color:var(--cor6) !important; }
/*END w_1677515553061*/
/*BEGIN title_1678969793065*/
#builder-sections #title_1678969793065 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969793065 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969793065 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969793065 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969793065 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678969793065 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1678969793065*/
/*BEGIN w_1678970104189*/
#builder-sections [idd='w_1678970104189'] {background-color:var(--cor5) !important; }
/*END w_1678970104189*/
/*BEGIN w_1678970104192*/
#builder-sections [idd='w_1678970104192'] {background-color:var(--cor6) !important; }
/*END w_1678970104192*/
/*BEGIN w_1678970108995*/
#builder-sections [idd='w_1678970108995'] {background-color:var(--cor5) !important; }
/*END w_1678970108995*/
/*BEGIN image_1678970109000*/
#builder-sections #image_1678970109000 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1678970109000*/
/*BEGIN title_1678970109004*/
#builder-sections #title_1678970109004 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678970109004 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678970109004 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678970109004 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678970109004 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678970109004 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1678970109004*/
/*BEGIN text_1678970109007*/
#builder-sections #text_1678970109007 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678970109007 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678970109007 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678970109007 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678970109007 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678970109007 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1678970109007*/
/*BEGIN button_1678970109010*/
#builder-sections #button_1678970109010 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1678970109010 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1678970109010 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1678970109010 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1678970109010*/
/*BEGIN w_1678971118531*/
#builder-sections [idd='w_1678971118531'] {background-color:var(--cor6) !important; }
/*END w_1678971118531*/
/*BEGIN button_1678971118538*/
#builder-sections #button_1678971118538 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1678971118538 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1678971118538 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1678971118538 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1678971118538*/
/*BEGIN title_1638816692905*/
#builder-sections #title_1638816692905 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1638816692905 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1638816692905*/
/*BEGIN title_1678971118535*/
#builder-sections #title_1678971118535 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971118535 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971118535 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971118535 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971118535 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971118535 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1678971118535*/
/*BEGIN image_1678971118533*/
#builder-sections #image_1678971118533 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1678971118533*/
/*BEGIN w_1678971118528*/
#builder-sections [idd='w_1678971118528'] {background-color:var(--cor5) !important; }
/*END w_1678971118528*/
/*BEGIN text_1678971118537*/
#builder-sections #text_1678971118537 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971118537 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971118537 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971118537 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971118537 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971118537 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1678971118537*/
/*BEGIN w_1678970108998*/
#builder-sections [idd='w_1678970108998'] {background-color:var(--cor6) !important; }
/*END w_1678970108998*/
/*BEGIN text_1638816692908*/
#builder-sections #text_1638816692908 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1638816692908 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1638816692908*/
/*BEGIN w_1638816692893*/
#builder-sections [idd='w_1638816692893'] {background-color:var(--cor5) !important; }
/*END w_1638816692893*/
/*BEGIN w_1678969777656*/
#builder-sections [idd='w_1678969777656'] {background-color:var(--cor6) !important; }
/*END w_1678969777656*/
/*BEGIN w_1678971212484*/
#builder-sections [idd='w_1678971212484'] {background-color:var(--cor5) !important; }
/*END w_1678971212484*/
/*BEGIN image_1678971212490*/
#builder-sections #image_1678971212490 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1678971212490*/
/*BEGIN title_1678971212492*/
#builder-sections #title_1678971212492 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971212492 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971212492 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971212492 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971212492 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971212492 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1678971212492*/
/*BEGIN button_1678971212497*/
#builder-sections #button_1678971212497 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1678971212497 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1678971212497 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1678971212497 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1678971212497*/
/*BEGIN text_1678971212495*/
#builder-sections #text_1678971212495 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971212495 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971212495 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971212495 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971212495 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971212495 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1678971212495*/
/*BEGIN w_1678971222579*/
#builder-sections [idd='w_1678971222579'] {background-color:var(--cor5) !important; }
/*END w_1678971222579*/
/*BEGIN w_1678971222582*/
#builder-sections [idd='w_1678971222582'] {background-color:var(--cor6) !important; }
/*END w_1678971222582*/
/*BEGIN w_1677515553056*/
#builder-sections [idd='w_1677515553056'] {background-color:var(--cor5) !important; }
/*END w_1677515553056*/
/*BEGIN w_1678971212488*/
#builder-sections [idd='w_1678971212488'] {background-color:var(--cor6) !important; }
/*END w_1678971212488*/
/*BEGIN title_1678971222587*/
#builder-sections #title_1678971222587 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971222587 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971222587 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971222587 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971222587 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1678971222587 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1678971222587*/
/*BEGIN button_1638816692911*/
#builder-sections #button_1638816692911 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1638816692911 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1638816692911 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1638816692911 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1638816692911*/
/*BEGIN image_1678971222584*/
#builder-sections #image_1678971222584 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1678971222584*/
/*BEGIN w_1638813633245*/
#builder-sections [idd='w_1638813633245'] {background-color:var(--cor4) !important; }
/*END w_1638813633245*/
/*BEGIN button_1678969793069*/
#builder-sections #button_1678969793069 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1678969793069 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1678969793069 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1678969793069 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1678969793069*/
/*BEGIN button_1678971222591*/
#builder-sections #button_1678971222591 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1678971222591 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1678971222591 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1678971222591 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1678971222591*/
/*BEGIN w_1678969793058*/
#builder-sections [idd='w_1678969793058'] {background-color:var(--cor5) !important; }
/*END w_1678969793058*/
/*BEGIN text_1678971222589*/
#builder-sections #text_1678971222589 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971222589 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971222589 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971222589 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971222589 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678971222589 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1678971222589*/
/*BEGIN text_1678969793067*/
#builder-sections #text_1678969793067 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969793067 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969793067 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969793067 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969793067 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1678969793067 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1678969793067*/
/*BEGIN text_1602002232683*/
#builder-sections #text_1602002232683 {background-color:rgba(255, 255, 255, 0) !important; border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-color:var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-left:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-right:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-top:0px solid var(--cor6) !important;}
#builder-sections #text_1602002232683 .omw-sentence {border-bottom:0px solid var(--cor6) !important;}
/*END text_1602002232683*/
/*BEGIN title_1699717336405_41278299473*/
#builder-sections #title_1699717336405_41278299473 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717336405_41278299473 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717336405_41278299473 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717336405_41278299473 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717336405_41278299473 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1699717336405_41278299473 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1699717336405_41278299473*/
/*BEGIN title_1667236487059*/
#builder-sections #title_1667236487059 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1667236487059 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1667236487059*/
/*BEGIN text_1667236487063*/
#builder-sections #text_1667236487063 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1667236487063 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1667236487063*/
/*BEGIN button_1667236487067*/
#builder-sections #button_1667236487067 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1667236487067 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1667236487067 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1667236487067 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1667236487067*/
/*BEGIN image_1667236487051*/
#builder-sections #image_1667236487051 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1667236487051*/
/*BEGIN w_1708438455953_15429572346*/
#builder-sections [idd='w_1708438455953_15429572346'] {background-color:var(--cor5) !important; }
/*END w_1708438455953_15429572346*/
/*BEGIN w_1708438455966_48612146633*/
#builder-sections [idd='w_1708438455966_48612146633'] {background-color:var(--cor6) !important; }
/*END w_1708438455966_48612146633*/
/*BEGIN title_1677515553067*/
#builder-sections #title_1677515553067 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1677515553067 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1677515553067 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1677515553067 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1677515553067 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1677515553067 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1677515553067*/
/*BEGIN text_1677515553071*/
#builder-sections #text_1677515553071 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677515553071 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677515553071 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677515553071 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677515553071 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1677515553071 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1677515553071*/
/*BEGIN button_1677515553074*/
#builder-sections #button_1677515553074 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1677515553074 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1677515553074 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1677515553074 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1677515553074*/
/*BEGIN buttonv2_1710958816138_31765437806*/
#builder-sections #buttonv2_1710958816138_31765437806 button.btn-style-base-custom {color:var(--cor5) !important; background-color:var(--cor1) !important; border-color:var(--cor6) !important;}
#builder-sections #buttonv2_1710958816138_31765437806 button.btn-style-base-custom:hover {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor6) !important;}
/*END buttonv2_1710958816138_31765437806*/
/*BEGIN buttonv2_1710958842104_91543125512*/
#builder-sections #buttonv2_1710958842104_91543125512 button.btn-style-base-custom {color:var(--cor5) !important; background-color:var(--cor1) !important; border-color:var(--cor6) !important;}
#builder-sections #buttonv2_1710958842104_91543125512 button.btn-style-base-custom:hover {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor6) !important;}
/*END buttonv2_1710958842104_91543125512*/
/*BEGIN image_1677515553064*/
#builder-sections #image_1677515553064 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1677515553064*/
/*BEGIN w_1710959020214_20308708030*/
#builder-sections [idd='w_1710959020214_20308708030'] {background-color:var(--cor5) !important; }
/*END w_1710959020214_20308708030*/
/*BEGIN w_1710959020221_98269771261*/
#builder-sections [idd='w_1710959020221_98269771261'] {background-color:var(--cor6) !important; }
/*END w_1710959020221_98269771261*/
/*BEGIN text_1710959020232_50705241678*/
#builder-sections #text_1710959020232_50705241678 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1710959020232_50705241678 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1710959020232_50705241678 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1710959020232_50705241678 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1710959020232_50705241678 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1710959020232_50705241678 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1710959020232_50705241678*/
/*BEGIN button_1710959020234_24956848741*/
#builder-sections #button_1710959020234_24956848741 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1710959020234_24956848741 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1710959020234_24956848741 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1710959020234_24956848741 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1710959020234_24956848741*/
/*BEGIN w_1714137271591_12524949953*/
#builder-sections [idd='w_1714137271591_12524949953'] {background-color:var(--cor5) !important; }
/*END w_1714137271591_12524949953*/
/*BEGIN w_1714137271596_89733744906*/
#builder-sections [idd='w_1714137271596_89733744906'] {background-color:var(--cor6) !important; }
/*END w_1714137271596_89733744906*/
/*BEGIN text_1714137271607_34208352279*/
#builder-sections #text_1714137271607_34208352279 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714137271607_34208352279 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714137271607_34208352279 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714137271607_34208352279 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714137271607_34208352279 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1714137271607_34208352279 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1714137271607_34208352279*/
/*BEGIN image_1714137271599_50934079651*/
#builder-sections #image_1714137271599_50934079651 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714137271599_50934079651*/
/*BEGIN button_1714137271609_41529220122*/
#builder-sections #button_1714137271609_41529220122 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1714137271609_41529220122 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1714137271609_41529220122 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1714137271609_41529220122 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1714137271609_41529220122*/
/*BEGIN image_1714138006759_22918903618*/
#builder-sections #image_1714138006759_22918903618 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714138006759_22918903618*/
/*BEGIN w_1714138041825_61972174231*/
#builder-sections [idd='w_1714138041825_61972174231'] {background-color:var(--cor5) !important; }
/*END w_1714138041825_61972174231*/
/*BEGIN w_1714138041830_89195482298*/
#builder-sections [idd='w_1714138041830_89195482298'] {background-color:var(--cor6) !important; }
/*END w_1714138041830_89195482298*/
/*BEGIN w_1714138208617_16507218141*/
#builder-sections [idd='w_1714138208617_16507218141'] {background-color:var(--cor6) !important; }
/*END w_1714138208617_16507218141*/
/*BEGIN title_1714137271602_27546693447*/
#builder-sections #title_1714137271602_27546693447 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714137271602_27546693447 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714137271602_27546693447 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714137271602_27546693447 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714137271602_27546693447 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1714137271602_27546693447 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1714137271602_27546693447*/
/*BEGIN title_1710959020230_54646510626*/
#builder-sections #title_1710959020230_54646510626 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1710959020230_54646510626 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1710959020230_54646510626 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1710959020230_54646510626 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1710959020230_54646510626 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1710959020230_54646510626 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1710959020230_54646510626*/
/*BEGIN title_1708438455985_89415195103*/
#builder-sections #title_1708438455985_89415195103 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1708438455985_89415195103 .omw-sentence{border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1708438455985_89415195103 .omw-sentence{border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1708438455985_89415195103 .omw-sentence{border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1708438455985_89415195103 .omw-sentence{border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #title_1708438455985_89415195103 .omw-sentence{border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END title_1708438455985_89415195103*/
/*BEGIN button_1708438455999_15849264728*/
#builder-sections #button_1708438455999_15849264728 .omw-custombutton button {color:var(--cor5) !important; background-color:var(--cor2) !important; border-color:var(--cor1) !important;}
#builder-sections #button_1708438455999_15849264728 .omw-custombutton button {text-shadow:none !important;}
#builder-sections #button_1708438455999_15849264728 .omw-custombutton button:hover {color:var(--cor5) !important; background-color:var(--cor2) !important;}
#builder-sections #button_1708438455999_15849264728 .omw-custombutton button {font-family:var(--fonte1_f) !important; font-weight:var(--fonte1_w) !important; font-style:var(--fonte1_s) !important;}
/*END button_1708438455999_15849264728*/
/*BEGIN image_1714150477478_95144196211*/
#builder-sections #image_1714150477478_95144196211 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1714150477478_95144196211*/
/*BEGIN text_1708438455992_48473360658*/
#builder-sections #text_1708438455992_48473360658 {background-color:rgba(0, 0, 0, 0) !important; border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1708438455992_48473360658 .omw-sentence {border-color:rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1708438455992_48473360658 .omw-sentence {border-left:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1708438455992_48473360658 .omw-sentence {border-right:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1708438455992_48473360658 .omw-sentence {border-top:0px solid rgba(0, 0, 0, 0) !important;}
#builder-sections #text_1708438455992_48473360658 .omw-sentence {border-bottom:0px solid rgba(0, 0, 0, 0) !important;}
/*END text_1708438455992_48473360658*/
/*BEGIN image_1710959020224_99829569086*/
#builder-sections #image_1710959020224_99829569086 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}
/*END image_1710959020224_99829569086*/

/*BEGIN image_1714150636617_27150810812*/
#builder-sections #image_1714150636617_27150810812 img { border-color:var(--cor1) !important; box-shadow:0px 0px 0px rgba(0, 0, 0, 0) !important;}

/*END image_1714150636617_27150810812*/
